@model Employee
@{
    ViewData["Title"] = "Сотрудники";
}

@*<div class="input-append date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
        <input class="span2" id="dp3" size="16" type="text" value="12-02-2012" />
        <span class="add-on"><i class="icon-calendar" id="cal"></i></span>
    </div>

    <div class="input-group date" data-provide="datepicker">
        <input type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>

    <div class="input-group date">
        <input type="text" class="form-control datepicker" data-date-format="mm/dd/yyyy"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>

    <div class="row nav">
        <div class="col-xs-12">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <label id="dtLabel">Today</label>
            <span id="calIcon" class="glyphicon glyphicon-calendar"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
    </div>*@

@*<form asp-controller="home" asp-action="EployeePupUp" method="post" class="mt-3">
        <div class="form-group">
            <label asp-for="Name">Name of the Poll:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>

    </form>*@

@*@section scripts{

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }*@

<div class="container">
    <div class="row justify-content-between my-sm-2">
        <button type="button" class="btn btn-primary btn-primary btn-lg" data-toggle="modal" data-target="#seatModal">Добавить должность</button>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Добавить сотрудника</button>
    </div>
    <!-- Modal Seat-->
    <div class="modal fade" id="seatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        @await Html.PartialAsync("_Seat")
    </div>


    <!-- Modal Employee-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            @await Html.PartialAsync("EmployeePupUp")
    </div>

    @*<form method="post" asp-action="Employee_" asp-controller="Home" id="pPupUp">
        <div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Новый сотрудник</h4>
                        </div>
                        <div class="modal-body" id="frmEmp">                           
                            @await Html.PartialAsync("Employee_")
                        </div>
                        <div class="modal-footer">
                            <div class="form-inline">
                                <button type="button" class="btn btn-secondary mr-md-2" data-dismiss="modal" value="Cancel">Закрыть</button>
                                <button type="submit" class="btn btn-primary mr-md-2" value="Add">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>*@
</div>



<div class="container">
    <div class="row justify-content-between my-sm-2">
        <button class="btn btn-primary" id='showSeat'>Добавить должность</button>
        <!--  <div class="col-md-8"></div>-->
        <button class="btn btn-primary" id='showEmployee'>Добавить сотрудника</button>
    </div>
</div>

<!--Два модальных окна-->
<div id="seatModal" class="modal fade" data-url='@Url.Action("SeatPupUp")'>
    <div id="seatContainer">
    </div>
</div>

<div id="employeeModal" class="modal fade" data-url='@Url.Action("EmployeePupUp")'>
    <div id="employeeContainer">
    </div>
</div>

<!--Табличные данные-->
<table id="empTable" class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Должность</th>
            <th>Сотрудник</th>
            <th>Оклад</th>
            <th>Дата назначения</th>
            <th>Дата увольнения</th>
        </tr>
    </thead>
    @foreach (var employee in (IEnumerable<Employee>)ViewBag.Items)
    {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Position</td>
            <td>@employee.LastName @employee.Name</td>
            <td>@employee.Salary$</td>
            <td>@Html.DisplayFor(x => @employee.Hired)</td>
            <td>@Html.DisplayFor(x => @employee.Fired)</td>
        </tr>
    }
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
